@import "tailwindcss";

@font-face {
    font-family: 'JetBrains Maple Mono';
    src: url('https://websource-meiyi.oss-cn-hangzhou.aliyuncs.com/website/%E7%BE%8E%E5%BC%82%E5%AE%98%E7%BD%91%E9%9D%99%E6%80%81%E8%B5%84%E6%BA%90/JetBrainsMapleMono-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: PingFang SC, Helvetica Neue, Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: white;
    /* Customize the scrollbar width */
}

::-webkit-scrollbar-track {
    background-color: white;
    /* Customize the scrollbar track */
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: #e0e0e0;
    cursor: pointer;
    border-radius: 15px;
    /* Customize the scrollbar thumb */
}

.mourn-mode {
  filter: grayscale(100%) brightness(102%);
}

.mourn-mode img {
  filter: inherit; /* 继承父级 */
}